@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&family=Ubuntu:wght@400;700&display=swap');

// FONT
// font-family: "Roboto", sans-serif;
// font-family: "Ubuntu", sans-serif;

// COLOR

$white: #ffffff;
$primary-purple: #4203c9;
$secondary-blue: #16acea;
$accent-yellow: #e8d71e;
$accent-red: #d71b3b;
